

h1 {
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.book-container {
    margin-top: 5%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 10px;
}

.book {
    border: solid 1px black;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
}

.pop-up-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid black 1px;
    background:#e1e1e1; 
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    padding: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
}